@import url(//fonts.googleapis.com/css?family=Play:400,700);
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    background: #0a0a0a;
    color: #00FF41;
    font-family: 'Play', sans-serif;
    font-size: .8em;
    overflow: none;
    height: 100%;
}
#status {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    padding: 0;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0a0a0a;
    z-index: 99999;
    height: 100%;
}
.navbar-brand {
    margin-right: 0px !important;
    padding-left: 0px;
}
.tooltip-bubble{
    font-family: 'Play', sans-serif !important;
}
.logo {
    background: url("/img/favicon.png") no-repeat;
    background-size: contain;
    height: 30px;
    display: block;
    text-indent: -9999px;
    margin-bottom: 3px;
    overflow: hidden;
}
.total-cases {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: left;
    opacity: .9;
    z-index: 1;
}
.corona-countries-cases {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    text-align: right;
    opacity: .9;
    z-index: 1;
}
.corona-country {
    display: inline-block;
    text-align: left;
    margin: 1em 0;
    margin-left: 1em;
}
@media screen and (max-width: 1280px) {
    .corona-country {
        display: block;
        text-align: inherit;
    }
}
@media screen and (max-width: 720px) {
    .corona-counties-cases {
        display: none;
    }
}
.label {
    display: block;
    opacity: .9;
}
.label-total-cases {
    display: block;
    opacity: .9;
    margin-left: 1em;
}
.number {
    font-size: 1.4em;
    color: #fff;
    opacity: .9;
}
.height {
    color: #44deb9;
}
#container {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    background-color: #0a0a0a;
    height: 100% !important;
    margin-top: 1rem!important;
    padding-bottom: 46px !important;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.status > span {
    float: left;
    min-height: 3.8em;
    padding-top: 1.2em;
    border-left: 4px solid rgba(255, 255, 255, 0.1);
    padding-left: 1em;
    margin-bottom: 5px;
}
.label {
    display: block;
    opacity: .9;
}
.number {
    font-size: 1.4em;
    color: #fff;
    opacity: .9;
}
#height {
    float: left;
    margin-right: 3em;
}
#countries-affected-div {
    margin-right: 3em;
    margin-left: 20px;
}
#news-preview {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}
.percentage {
    float: left;
    width: 100%;
    height: 4px;
}
#completed {
    background: #0a0a0a;
    width: 0;
    height: inherit;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
.highcharts-label, .highcharts-tooltip {
    top: 400px !important;
    margin-left: 20px;
}
.jumbotron {
    background: rgb(16, 16, 16);
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}
.container {
    padding-top: 80px;
}
#charts div.container, #news div.container, #about div.container {
    padding-top: 20px !important;
}
.card {
    background: rgb(16, 16, 16) !important;
    width: 100% !important;
    margin-bottom: 40px;
}
.clip{
    text-overflow: ellipsis;
    padding: 0 !important;
}
.pointer{
    cursor: pointer;
}
#country-table_wrapper {
    background: #343a40;
    color: #00FF41;
    width: 100% !important;
    font-size: 1.1em;
}
#country-table_info, #country-table_paginate a , table#country-table thead, div#country-table_length label, div#country-table_filter label {
    color: #00FF41 !important;
    padding: 10px 8px 10px 8px;
    font-size: 1.1em;
}
.table-responsive-md {
    margin-top: 40px;
    margin-bottom: 40px !important;
}
#table-data .table-responsive-md {
    margin-top: 20px !important;
}
.highcharts-figure, .highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
#chart1, #chart{
    margin-bottom: 40px;
}

img.lazy {

    display: block;
}


#data-time {
    padding-right: 20px; color: #fff;
}